.registration {
   margin: 20px;
   color: black; 
   background-color: #E7E7E7;  
   padding: 20px;   
}
.user a{
   color: green; 
   font-weight: bold; 
   font-size: 20px;
}

.user h4{
   color: green; 
   font-weight: bold; 
   font-size: 20px;
} 
 
