  <div class="registration">
     <fieldset>
      <legend>Register</legend>
      <form name='regForm' novalidate>

          
         <input type="text" name="firstname" placeholder="first name "
          ng-model="reg.user.firstname"
          required> 
          <span
            ng-if="(regForm.firstname.$error.required) && regForm.firstname.$touched">
            * Required
          </span>
          
          <br> 
           
           <input type="text" name="lastname" placeholder="last name"
          ng-model="reg.user.lastname"
          required> 
          <span
            ng-if="( regForm.lastname.$error.required) && regForm.lastname.$touched">
            * Required
          </span> 
          <br>
          

        <input type="email" name="email" placeholder="Email"
          ng-model="reg.user.email"
          required>
          <span ng-if="regForm.email.$invalid && regForm.email.$touched">
            Must be a valid email address: handle@domain format
          </span>
          <br>

        <input type="text" name="phone" placeholder="Phone ###-###-####"
          ng-model="reg.user.phone"
          pattern="(\d{3})-(\d{3})-(\d{4})">
          <span ng-if="regForm.phone.$invalid && regForm.phone.$touched">
            Phone must be in the format ###-###-####.
          </span>
          <br>
          
          
        <input type="text" name="favdishid" placeholder="Favorite Dish ID"
          ng-model="reg.user.favDishId"
          required
          minlength="2"
          ng-maxlength="4"> 
          
           <span
            ng-if="(regForm.favdishid.$error.minlength || regForm.favdishid.$error.required) && regForm.favdishid.$touched">
            Favorite dish must be at least 2 characters long
          </span>
          <span ng-if="regForm.favdishid.$error.maxlength && regForm.favdishid.$touched">
            Favorite dish must not be longer than 4 characters
          </span>
          <br> 
           
           <button  ng-disabled="regForm.$invalid" ui-sref="registered({user: reg.user})">register </button>  
          
           
          
      </form>
    </fieldset>   
            
</div>